.footer {
  background: var(--footer-bg);
  color: var(--footer-text);
}

/* ICON */
.icon {
  color: var(--primary);
}

/* LINK */
.link {
  transition: 0.2s;
}
.link:hover {
  color: var(--primary);
}

/* SOCIAL BUTTON */
.socialBtn {
  width: 36px;
  height: 36px;
  border-radius: 999px;
  background: var(--footer-icon-bg);
  color: var(--primary);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

.socialBtn:hover {
  background: var(--primary);
  color: #fff;
  transform: scale(1.1);
}