@import "tailwindcss";

/* BASE */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  transition: background 0.2s ease, color 0.2s ease;
}

/* Main */
:root {
  --background: #e5e5e5;
  --foreground: #000000;
  
  --navbar-bg: #ffffff;
  --navbar-text: #000000;

  --surface: #ffffff;
  --border: #ffffff;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;

  --navbar-bg: #333333;
  --navbar-text: #ffffff;

  --surface: #333333;
  --border: #333333;
}

/* Main Card */
:root {
  --card: #ffffff;
  --card-text: #000000;
  --border: #ffffff;
  --muted-text: #888888;
  --no-img-bg: #888888;
  --like: #ff0000;
  --shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.dark {
  --card: #333333;
  --card-text: #ffffff;
  --border: #333333;
  --muted-text: #888888;
  --no-img-bg: #888888;
  --like: #ff0000;
  --shadow: 0 4px 10px rgba(0,0,0,0.4);
}